/data/

*.egg-info/
*.egg
*.whl
*.pyc
__pycache__/
*/__pycache__/

/.pytest_cache/

compiled/rust/target/

/papers/

debug/
target/
**/*.rs.bk

.ruff_cache/

**/*.db
*.db

.DS_Store

outputs/figures/

outputs/

.pixi/
.local/

**/*return.py
**/*finance*.py
**/*stock*.py

catboost_info/
